<% include includes/header %>


<div class="row">
    <div class="col-md-4">
      <% include includes/side %>
    </div>
  <div class="col-md-8">
      .col-md-4
  </div>
</div>

<% include includes/footer %>