<% include ../includes/header %>


<div class="row">
    <div class="col-md-4">
      <% include ../includes/side %>
    </div>
  <div class="col-md-8">
     
     
     
     
 <a href="/admin/post/add" class="btn btn-success">Add new</a>
<hr>     



<table id="example"></table>  






     
<% posts.forEach(function(post, index) { %>
<p>
<%- post.title -%> | <a href="/admin/post/edit/<%- post._id -%>">edit</a> | <a href="/admin/post/delete/<%- post._id -%>">delete</a>
</p>

<% })  %>
     
     
     
     
     
  </div>
</div>

<% include ../includes/footer %>