<ul class="nav nav-pills nav-stacked">
<li role="presentation"><a href="/admin/post">Posts</a></li>
<li role="presentation"><a href="/admin/page">Pages</a></li>
<li role="presentation"><a href="/admin/menu">Menu</a></li>
<li role="presentation"><a href="/admin/user">All users</a></li>
<li role="presentation"><a href="/admin/setting">Settings</a></li>
</ul>